<link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
<div class="grid-container">

    <a href="{{ url_for('city.render_cities_template') }}">
        <div class="grid-item">CITIES</div>
    </a>
    <a href="{{ url_for('character.render_character_template') }}">
        <div class="grid-item">CHARACTERS</div>
    </a>
    <a href="{{ url_for('hunt.render_huntingplaces_template') }}">
        <div class="grid-item">HUNTING PLACES</div>
    </a>
    <a href="{{ url_for('hunt_v2.render_huntingplaces_template') }}">
        <div class="grid-item">HUNTING PLACES V2</div>
    </a>

</div>