<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<a href="{{ url_for('home') }}">HOME</a>
<br><br>

<!-- filter fields -->
<form action="{{ url_for('hunt.render_huntingplaces_template') }}" method="get">
  <fieldset>
    <legend>Select hunt type:</legend>  
    
    <div>
      <input type="radio" id="solo" name="hunt_type" value="solo" {% if hunt_type == "solo" %}checked{% endif %}/>
      <label for="solo">Solo</label>
    </div>
  
    <div>
      <input type="radio" id="duo" name="hunt_type" value="duo"  {% if hunt_type == "duo" %}checked{% endif %}/>
      <label for="duo">Duo</label>
    </div>

    <div>
      <input name="name" id="name" placeholder="Enter a name">
    </div>

    <div>
      <button type="submit">Filter</button>
    </div>

  </fieldset>
</form>

<!-- table with data -->
<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Character levels</th>
            <th>Hunt type</th>
            <th>Exp[k/h][100%]</th>
            <th>Gold[k/h]</th>
            <th>Rune</th>
            <th>Equipment with resistance</th>
            <th>Description</th>
        </tr>
    </thead>
        {% for place in hunting_places%}
        <td>{{place[0]}}</td>
        <td>{{place[1]}}</td>
        <td>{{place[2]}}</td>
        <td>{{place[3]}}</td>
        <td>{{place[4]}}</td>
        <td>{{place[5]}}</td>
        <td>{{place[6]}}</td>
        <td>{{place[7]}}</td>
        </tr>
        {% endfor %}
</table>

<!-- form with field to add -->
  <form action="{{ url_for('hunt.add_huntingplace') }}" method="post">

    <input type="text" placeholder="Enter a name" id = "name" name="name" >
    <input type="text" placeholder="Enter a character levels" name="character_levels" >
    <select name="hunt_type" id="hunt_type">
      <option value="solo">Solo</option>
      <option value="duo">Duo</option>
    </select>
    <input type="number" placeholder="Enter a exp[k/h]" name="exp_on_hour" >
    <select name="exp_factor" id="exp_factor">
      <option value="100">100%</option>
      <option value="150">150%</option>
      <option value="200">200%</option>
      <option value="225">225%</option>
      <option value="300">300%</option>
      <option value="375">375%</option>
    </select>
    <input type="number" placeholder="Enter a gold[k/h]" name="gold_on_hour" >
    <input type="text" placeholder="Enter a rune" name="rune" >
    <input type="text" placeholder="Enter a equipment with resistance" name="eq_with_resistance" >
    <input type="text" placeholder="Enter a description" name="description" >

    <button type="submit" class="add-btn">Add</button>
  
    <br>
    {% if errors %}
      <label class="error-label"> {{errors}} </label>
    {% endif %}
    
  </form>

  <!-- delete section -->
  <form action="{{ url_for('hunt.delete_huntingplace') }}" method="post">

    <select name="id" id="deleteSelect">
      {% for place in hunting_places%}
        <option value="{{place[8]}}">{{place[0]}}</option>
      {% endfor %}
    </select>
    <button id="deleteBtn" type="submit" class="delete-btn" >Delete</button>

  </form>